body{
    background: black;
    color: white;
    font-family: "Source Code Pro", "arial  ";
}

#card{

    width: 90%;
    height: 90vh;
    margin: 0 auto;
}

#main-card, #secondary-card{
    display:table;
    border-radius: 10px;

    font-size: 35px;
    text-align: center;
    background: brown;


}

.word-container{
    display:table-cell;
    vertical-align:middle;
}